
.hello{
    height: 60%;
    padding: 24px;

    align-self: flex-start;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    
    h2{
        margin-bottom: 24px;
    }

    img{
        width: 250px;
    }
}