
$color-background: #303030;
$color-main: white;
$color-main-alt: #15c5bd;
$color-error: red;
$color-text: black;

$font-main: Bellota, serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    background-color: $color-main;
    background:url("/assets/img/raspberry-pi-left.png") center left no-repeat,
               url("/assets/img/raspberry-pi-right.png") center right no-repeat;
}


main{
    display: flex;
    flex-direction: column;

    width: 60%;
    max-width: 780px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;

    background-color: $color-main;

    font-family: $font-main;
}

.text{
    &-center{
        text-align: center;
    }
}

h1{
    font-size: 2em;
}